{% extends 'base.html' %} 
{% load static %}


{% block styles %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style_form.css'%}"
  onload="this.rel='stylesheet'"
/>

<noscript
  ><link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/style_form.css'%}"
/></noscript>


<style>
    /* Ajoutez ici vos styles personnalisés */
    body {
        overflow: hidden; /* Désactiver le scrolling */
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fixed-element {
        top: 1%;
        left: 20%;
        right: 20%;
        bottom: 40%;
        position: fixed;
        z-index: 999;
    }

    .fixed-element > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h5.mb-3 {
        font-size: 0.5em;
    }
</style>
{% endblock styles %}

{% block scripts%} {% endblock scripts%}

</head>



{% comment %} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style_form.css'%}"
  onload="this.rel='stylesheet'"
/>

<noscript
  ><link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/style_form.css'%}"
/></noscript>

<style>
    body {
        overflow: hidden; /* Désactiver le scrolling */
    }
</style>

<style>
    /* Ajoutez ici vos styles personnalisés */
    .fixed-element {
        top: 30% !important;
        left: 0% !important;
        right: 20% !important;
        position: relative !important;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.1) !important /* Fond semi-transparent */

    }

    .icon-box-primary {
        /* Ajoutez vos styles personnalisés ici pour les icon-box */
        padding: 20px;
    }

</style>
{% endblock styles %} {% endcomment %}

{% block contents %}
<div class="container">
  <div class="form-container">
    <div class="left-container">
      <div class="left-inner-container">
        <h2>Informations</h2>
        <p>
          Ce formulaire permet d'enregistrer  les informations sur un patient
        </p>
        <br />
        
      </div>
    </div>
    <div class="right-container">
      <div class="right-inner-container">
        {% block title%}{% endblock title%}
        {% block container %}{% endblock container %}
      </div>
    </div>
  </div>
</div>

{% endblock contents %}
