{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>PATIENTS</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/listings/style.css' %}">
    </head>
    <body>
        <main class="table" id="customers_table">
            <section class="table__header">
                {% block title%} {% endblock title%}
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        {% block thead %}
                        {% endblock thead %}
                    </thead>
                    <tbody>
                        {% block tbody %}
                        {% endblock tbody %}
                    </tbody>
             </table>
         </section>
     </main>
 
 </body>
 
 </html>