
{% extends 'listings/base.html'%}

{% block title%} <h2> AFFICHAGE DES PATIENTS </h2> {% endblock title %}
{% block content %}
<form method="get" >
    <label for="nom"> Nom </label>
    <input type="text" name="nom" placeholder="Rechercher par nom" value="{{query}}" />
    <button type="submit"> Recherche</button>

</form>
{% endblock content %}
{% block thead %}
<tr>
    <th> Id <span class="icon-arrow"></span></th>
    <th> Nom <span class="icon-arrow"></span></th>
    <th> Prenom <span class="icon-arrow"></span></th>
    <th> Emaill <span class="icon-arrow"></span></th>
    <th> Adresse <span class="icon-arrow"></span></th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for patient in patients %}
<tr>
    <td>{{ patient.id }}</td>
    <td>{{ patient.name }}</td>
    <td>{{ patient.prenom }}</td>
    <td>{{ patient.email }}</td>
    <td>{{ patient.addresse }}</td>
</tr>
{% endfor %}
{% endblock tbody %}